{% extends 'base.html' %}

{% block title %} Сайт Казюлиной Марины {% endblock %}

{% block content %}
          <p>
           <div class="jumbotron">
              <h1 class="display-4">Добрый день!</h1>
              <p class="lead">Вы находитесь на странице исследования отношения ассистента по программированию к данной домашней работе.</p>
              <hr class="my-4">
              <p>Если Вы ассистент по программированию и если вы проверяете данную домашнюю работу, приглашаем Вас принять участие в опросе.</p>
              <a class="btn btn-primary btn-lg" href="/questions" role="button">Принять участие в опросе</a>
            </div>
          </p>
{% endblock %}